<BsNavbar @type={{type}} @fluid={{true}} @collapsed={{collapsed}} @onCollapse={{action (mut collapsed) true}} @onExpand={{action (mut collapsed) false}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    <a href="/" class="navbar-brand">{{title}}</a>
  </div>
  <navbar.content>
    <navbar.nav @class="navbar-right" as |nav|>
      <nav.item><LinkTo @route="about">About</LinkTo></nav.item>
      <nav.item><LinkTo @route="search">Search</LinkTo></nav.item>
      <nav.item><LinkTo @route="faq">FAQ</LinkTo></nav.item>
      <li><a target="_blank" href="https://support.datacite.org">Support</a></li>
    </navbar.nav>
  </navbar.content>
</BsNavbar>
