<ApplicationHeader />

<div class="container-fluid">
  <div class='col-md-8 col-sm-offset-2 repository-finder'>
    <ModelSearch @model={{model}} @sortable={{true}} />


    {{#if (gt model.meta.total 0)}}
      {{#each model as |repository|}}
        <h3 class="repository">
          <ModelIcons @model={{repository}} />

          {{repository.repositoryName}}{{#if repository.additionalName}}<div class="subtitle">{{repository.additionalName.text}}</div>{{/if}}
        </h3>

        {{#if repository.description}}
          <div>{{repository.description}}</div>
        {{/if}}

        {{#if repository.tags}}
          <div class="subject">
            {{#each repository.tags as |tag|}}
              <SubjectLabel @tag={{tag}} />
            {{/each}}
          </div>
        {{/if}}

        <RepositoryInfo @model={{repository}} />
      {{/each}}

      {{#if (eq model.meta.page model.meta.total_pages)}}
        <RepositoryMessage @type="info" />
      {{/if}}

      {{#if model}}
        <div class="text-center">
          {{#if (gt model.meta.total_pages 1)}}
            <PageNumbers @content={{model}} @numPagesToShow={{5}} @showFL={{false}} />
          {{/if}}
        </div>
      {{/if}}
    {{else}}
      <RepositoryMessage @type="warning" />
    {{/if}}
  </div>

</div>
  
  